/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "semantic-ui";
@import "semantic-ui/collections/menu";

body {
  margin: 0;
  background-color: #C0D9AF;
}

a {
  color: #E5E3DF;
}
a:hover {
  color: #4183C4;
}

header {
  background-color: #1B1C1D;
  height: 120px;
  width: 100%;
}

aside {
  background-color: #324F17;
  height: 100%;
  z-index: 1;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    margin-bottom: 1em;
    list-style: none;
  }
}
